@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <textarea class="form-control" text-wrap:normal" type="text" name="query"></textarea>

    <input type="submit">
</form>

<ul>
@foreach (var message in Model.Messages)
{
    <li>@message</li>
}
</ul>

@Model.SqlQuery

<ul>
    @foreach (var employee in Model.Employees)
    {
        <li>@employee.Id @employee.Name @employee.Salary</li>
    }
</ul>