@page "/"
@using System.ComponentModel
@using System.Text.Json
@inject IChatClient ChatClient
@inject NavigationManager Nav
@inject Aiui.SqlListPlugin sqlListPlugin;
@inject Aiui.ChartJsPlugin chartJsPlugin;
@implements IDisposable

<PageTitle>Chat</PageTitle>

<ChatMessageList Messages="@messages" InProgressMessage="@currentResponseMessage">
    <NoMessagesContent>
        <div>To get started, try asking about the active products.</div>
    </NoMessagesContent>
</ChatMessageList>

<Graph Data="@GraphData" Code="@GraphCode" />

<DataTable Rows="Rows" />

<div class="chat-container">
    <ChatSuggestions OnSelected="@AddUserMessageAsync" @ref="@chatSuggestions" />
    <ChatInput OnSend="@AddUserMessageAsync" @ref="@chatInput" OnNewChat="@ResetConversationAsync" />
</div>

@code {
    private const string SystemPrompt = @"
        You are a software developer.
        Do not give comment or explanation.
        Do not answer questions about anything else.

        Only use the tools available to you.
        ";

    private readonly ChatOptions chatOptions = new();
    private readonly List<ChatMessage> messages = new();
    private CancellationTokenSource? currentResponseCancellation;
    private ChatMessage? currentResponseMessage;
    private ChatInput? chatInput;
    private ChatSuggestions? chatSuggestions;
    private List<dynamic>? Rows;
    private string? GraphData;
    private string? GraphCode;

    protected override async Task OnInitializedAsync()
    {
        messages.Add(new(ChatRole.System, SystemPrompt));
        var prompt = await sqlListPlugin.BuildPromptAsync(null, Microsoft.Extensions.Logging.Abstractions.NullLogger.Instance);

        var promptList = string.Join("\r\n", prompt!.Select(i => i.Content));

        messages.Add(new(ChatRole.System, promptList));
        chatOptions.Tools = [AIFunctionFactory.Create(ListAsync), AIFunctionFactory.Create(ChartAsync)];
    }

    private async Task AddUserMessageAsync(ChatMessage userMessage)
    {
        // TODO: Fix
        if (userMessage.Text == "NOW")
        {
            var contextPrompt = await chartJsPlugin.GetContextPromptAsync(Rows);
            if (contextPrompt is null)
            {
                return;
            }

            messages.Add(contextPrompt);

            return;
        }

        CancelAnyCurrentResponse();

        // Add the user message to the conversation
        messages.Add(userMessage);
        chatSuggestions?.Clear();
        await chatInput!.FocusAsync();

        // Stream and display a new response from the IChatClient
        var responseText = new TextContent("");
        currentResponseMessage = new ChatMessage(ChatRole.Assistant, [responseText]);
        currentResponseCancellation = new();

        await foreach (var update in ChatClient.GetStreamingResponseAsync([.. messages], chatOptions, currentResponseCancellation.Token))
        {
            messages.AddMessages(update, filter: c => c is not TextContent);
            responseText.Text += update.Text;
            ChatMessageItem.NotifyChanged(currentResponseMessage);
        }

        // Store the final response in the conversation, and begin getting suggestions
        messages.Add(currentResponseMessage!);
        currentResponseMessage = null;
        chatSuggestions?.Update(messages);
    }

    private void CancelAnyCurrentResponse()
    {
        // If a response was cancelled while streaming, include it in the conversation so it's not lost
        if (currentResponseMessage is not null)
        {
            messages.Add(currentResponseMessage);
        }

        currentResponseCancellation?.Cancel();
        currentResponseMessage = null;
    }

    private async Task ResetConversationAsync()
    {
        CancelAnyCurrentResponse();
        messages.Clear();
        messages.Add(new(ChatRole.System, SystemPrompt));
        chatSuggestions?.Clear();
        await chatInput!.FocusAsync();
    }

    public void Dispose()
    {
        currentResponseCancellation?.Cancel();
    }

    [Description("Displays a list of the data available in the database.")]
    private async Task ListAsync(
        [Description("The Microsoft SQL Server query.")] string sqlQuery)
    {
        await InvokeAsync(StateHasChanged);

        var data = await sqlListPlugin.ExecuteAsync(sqlQuery);

        Rows = (List<dynamic>?)data;
    }

    [Description("Receives the JavaScript code needed for Chart.js as string and draws the chart for the listed data.")]
    private async Task ChartAsync(
        [Description("The JavaScript code needed for Chart.js as string to draw a chart in an HTML canvas element with the id 'myChart'.")] string chartJsCode)
    {
        await InvokeAsync(StateHasChanged);

        var jsCode = await chartJsPlugin.ExecuteAsync(chartJsCode);

        GraphData = JsonSerializer.Serialize(Rows);
        GraphCode = (string?)jsCode;
    }
}
